NEXT_PUBLIC_SITE_URL=https://tsgabrielle.com
NEXT_PUBLIC_LOGO_URL=/images/logo.png
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Google Analytics & Tags
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-02TDH8YYH
NEXT_PUBLIC_GTM_ID=GT-PL3T58PK

# Klaviyo
NEXT_PUBLIC_KLAVIYO_LIST_ID=TYeYRR
KLAVIYO_API_KEY=pk_771bcfb646c70d1380dcfd209f62e46886

# Resend (Email Sending)
RESEND_API_KEY=

PRINTFUL_API_KEY=
PRINTFUL_WEBHOOK_SECRET=

PAYPAL_ENV=sandbox
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=

NEXT_PUBLIC_KLAVIYO_PUBLIC_KEY=
NEXT_PUBLIC_KLAVIYO_SITE_ID=
KLAVIYO_PRIVATE_API_KEY=

ADMIN_EMAILS=
