.gcloudignore
.git
.gitignore
node_modules
.next
.agent
.gemini
stitch_tsgabrielle_home_page
supabase
*.log
*.json
!package.json
!package-lock.json
!tsconfig.json
!next.config.ts
!Dockerfile
!cloudbuild.yaml
